<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    
</head>
<body>
    <div class="r-butun-sayfa">
  
        <nav class="r-ana-gezinme">
               <div class="r-motivfit-logo "><img src="Resimler/logo.jpg" alt="resim yok"></div>
            <ul class="r-menu-listesi">
               <li><a href="/"><i class="fa-solid fa-house"></i>Ana Sayfa</a></li>
               <li><a href="/egitimler"><i class="fa-solid fa-dumbbell"></i>Eğitimler</a></li>
               <li><a href="/urunler"><i class="fa-solid fa-bag-shopping"></i>Ürünler Listesi</a></li>
               <li><a href="/giris"><i class="fa-solid fa-user"></i>Giriş Yap / Kayıt Ol</a></li>
               <li><a href="/iletisim"><i class="fa-solid fa-phone"></i>iletişim</a></li>
            </ul>
        </nav>

        <div class="r-kapak-resim">
            <img src="Resimler/buyuk resim.png" alt="resim yok" class="r-kapak-resim">
        </div>

        <div class="r-kapak-yazi">
            <h1>MOTIVFIT SPOR SALONUNA HOŞGELDİNİZ</h1>
            <p>Potansiyelini Keşfet, Sınırlarını Zorla!</p>
        </div>

        <div class="r-video-yazisi">
            <h2>MotivFit Tanıtım</h2>
        </div>

        <div class="r-tanitim-yazisi">
            <h5>MotivFit ile Sınırlarını Zorla!</h5>
        </div>

        <div class="r-kucuk-tanitim-yazisi">
            <p>Şubemizde Amerikan standartlarındaki boks ringimiz,
            huzur dolu yoga stüdyomuz ve uzman eğitmen kadromuzla
            sadece bedeninizi değil, zihninizi de dönüştürüyoruz.
            Değişime bugün başlayın!"</p>

            <iframe width="800" height="400" src="https://www.youtube.com/embed/Yko3GMseY40?si=dLAXrLmKFDc_xCrb"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
            gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        

        <div class="r-cubuk">
            <p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
        </div>


         <div class="r-konum-yazisi">
            <h2>MotivFit Etkinlik Alanı Konumu</h2>
        </div>

        <div class="r-konum-tanitim-yazisi">
            <h5>Büyük Sezon Açılışı: MotivFit Fest Başlıyor!</h5>
        </div>

        <div class="r-kucuk-konum-yazisi">
            <p>Yeni sezon enerjisini Nişantaşı’nın en prestijli noktasında,
            MotivFit Premium çatısı altında hep birlikte karşılıyoruz!
            Uzman eğitmenlerimiz eşliğinde açık hava etkinlikleri,
            boks ringimizde mini turnuvalar ve DJ performansıyla
            dolu dolu bir gün spor tutkunlarını bekliyor</p>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.030286348081!2d28.989625325860487!3d41.04646677134522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cace33ccb7fddb%3A0x31f77c9ec9e157a3!2zxLBCQiBNYcOna2EgRGVtb2tyYXNpIFBhcmvEsQ!5e0!3m2!1str!2str!4v1779045182027!5m2!1str!2str" 
            width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="r-kucuk-yazi">"© 2026 MotivFit Spor Salonu. Tüm Hakları Saklıdır.</div>

    </div>
</body>
</html>