<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ürün Listesi</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div class="r-butun-sayfa">

         <nav class="r-ana-gezinme">
               <div class="r-motivfit-logo "><img src="Resimler/logo.jpg" alt="resim yok"></div>
            <ul class="r-menu-listesi">
               <li><a href="/"><i class="fa-solid fa-house"></i>Ana Sayfa</a></li>
               <li><a href="/egitimler"><i class="fa-solid fa-dumbbell"></i>Eğitimler</a></li>
               <li><a href="/urunler"><i class="fa-solid fa-bag-shopping"></i>Ürünler Listesi</a></li>
               <li><a href="/giris"><i class="fa-solid fa-user"></i>Giriş Yap / Kayıt Ol</a></li>
               <li><a href="/iletisim"><i class="fa-solid fa-phone"></i>iletişim</a></li>
            </ul>
        </nav>

            <div class="r-urun-yazisi">
            <h2>İÇECEK KATEGORİSİ</h2>
           </div>
            
            <div class="r-kart-kapsayici">  
        <div class="r-motive-urunler">
            <img src="Resimler/icecek1.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Enerji İçeceği (Orman Meyveli)</p>
            <p class="r-urun-liste-yazisi">200 TL</p>
        </div>

         <div class="r-motive-urunler">
            <img src="Resimler/icecek2.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Enerji İçeceği (Limon - Nane)</p>
            <p class="r-urun-liste-yazisi">200 TL</p>
        </div>

         <div class="r-motive-urunler">
            <img src="Resimler/icecek3.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Enerji İçeceği (Tropikal Fusion)</p>
            <p class="r-urun-liste-yazisi">200 TL</p>
        </div>

         <div class="r-motive-urunler">
            <img src="Resimler/icecek4.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Enerji İçeceği (Tropikal Karışım)</p>
            <p class="r-urun-liste-yazisi">300 TL</p>
        </div>

         <div class="r-motive-urunler">
            <img src="Resimler/icecek5.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Enerji İçeceği (Yeşil Elma & Kivi)</p>
            <p class="r-urun-liste-yazisi">300 TL</p>
        </div>

         <div class="r-motive-urunler">
            <img src="Resimler/icecek6.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Enerji İçeceği (Mavi Ahududu)</p>
            <p class="r-urun-liste-yazisi">300 TL</p>
        </div>
            </div>

            <div class="r-urun-yazisi">
            <h2>PROTEİMN TOZLARI KATEGORİSİ</h2>
            </div>


             <div class="r-kart-kapsayici">  
        <div class="r-motive-urunler">
            <img src="Resimler/toz1.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Protein Tozu (Çikolata Rüyası)</p>
            <p class="r-urun-liste-yazisi">3.000 TL</p>
        </div>

         <div class="r-motive-urunler">
            <img src="Resimler/toz2.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Protein Tozu (Vanilya Gücü)</p>
            <p class="r-urun-liste-yazisi">3.000 TL</p>
        </div>

         <div class="r-motive-urunler">
            <img src="Resimler/toz3.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Protein Tozu (Berry Blast)</p>
            <p class="r-urun-liste-yazisi">3.000 TL</p>
        </div>

         <div class="r-motive-urunler">
            <img src="Resimler/toz4.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Protein Tozu (Berry Blast)</p>
            <p class="r-urun-liste-yazisi">4.000 TL</p>
        </div>

         <div class="r-motive-urunler">
            <img src="Resimler/toz5.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Protein Tozu (Yeşil Elma & Kivi)</p>
            <p class="r-urun-liste-yazisi">4.000 TL</p>
        </div>

         <div class="r-motive-urunler">
            <img src="Resimler/toz6.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Protein Tozu (Mavi Ahududu)</p>
            <p class="r-urun-liste-yazisi">4.000 TL</p>
        </div>
            </div>

            <div class="r-urun-yazisi">
            <h2>KIYAFET KATEGORİSİ</h2>
            </div>

            <div class="r-kart-kapsayici">  

            <div class="r-urun2-yazisi">
            <h5>KADIN KIYAFET KATEGORİSİ</h5>
            </div>

        <div class="r-motive-urunler2">
            <img src="Resimler/kiyafet1.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Kadın Koşu Takımı</p>
            <p class="r-urun-liste-yazisi">1.000 TL</p>
        </div>

         <div class="r-motive-urunler2">
            <img src="Resimler/kiyafet2.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Kadın Gri Performans Atleti</p>
            <p class="r-urun-liste-yazisi">700 TL</p>
        </div>

         <div class="r-motive-urunler2">
            <img src="Resimler/kiyafet3.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Berry Blast Kadın Seti</p>
            <p class="r-urun-liste-yazisi">1.200 TL</p>
        </div>

           <div class="r-urun2-yazisi">
            <h5>ERKEK KIYAFET KATEGORİSİ</h5S>
            </div>

         <div class="r-motive-urunler2">
            <img src="Resimler/kiyafet4.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Erkek Atletizm Seti</p>
            <p class="r-urun-liste-yazisi">1.000 TL</p>
        </div>

         <div class="r-motive-urunler2">
            <img src="Resimler/kiyafet5.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Erkek Club Polo Seti</p>
            <p class="r-urun-liste-yazisi">1.000 TL</p>
        </div>

         <div class="r-motive-urunler2">
            <img src="Resimler/kiyafet6.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Erkek Antrenman Takımı</p>
            <p class="r-urun-liste-yazisi">1.200 TL</p>
        </div>
            </div>
            

             <div class="r-urun-yazisi">
            <h2>AYAKKABI KATEGORİSİ</h2>
            </div>

            <div class="r-kart-kapsayici">  

                 <div class="r-urun2-yazisi">
            <h5>KADIN KIYAFET KATEGORİSİ</h5>
            </div>

        <div class="r-motive-urunler2">
            <img src="Resimler/ayakkabi1.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Aero-Mesh Kadın Koşu Ayakkabısı</p>
            <p class="r-urun-liste-yazisi">2.500 TL</p>
        </div>

         <div class="r-motive-urunler2">
            <img src="Resimler/ayakkabi2.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Neon Wave Kadın Antrenman Ayakkabısı</p>
            <p class="r-urun-liste-yazisi">3.000 TL</p>
        </div>

         <div class="r-motive-urunler2">
            <img src="Resimler/ayakkabi3.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Grip-Sole Kadın Spor Ayakkabı</p>
            <p class="r-urun-liste-yazisi">2.500 TL</p>
        </div>

        
            </div>

            <div class="r-kart-kapsayici">

                <div class="r-urun2-yazisi">
            <h5>ERKEK KIYAFET KATEGORİSİ</h5S>
            </div>

         <div class="r-motive-urunler2">
            <img src="Resimler/ayakkabi4.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Ultra-Lite Erkek Koşu Ayakkabısı</p>
            <p class="r-urun-liste-yazisi">3.000 TL</p>
        </div>

         <div class="r-motive-urunler2">
            <img src="Resimler/ayakkabi5.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Flex-Mesh Erkek Antrenman Ayakkabısı</p>
            <p class="r-urun-liste-yazisi">2.500 TL</p>
        </div>

         <div class="r-motive-urunler2">
            <img src="Resimler/ayakkabi6.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Hydro - Dry Erkek Spor Ayakkabı</p>
            <p class="r-urun-liste-yazisi">2.500 TL</p>
        </div>
                
            </div>

            <div class="r-urun-yazisi">
            <h2>MOTIVFIT AKSESUAR KATEGORİSİ</h2>
            </div>
            
            <div class="r-kart-kapsayici">  

        <div class="r-motive-urunler2">
            <img src="Resimler/canta1.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Pro-Gym Çok Amaçlı Sırt Çantası</p>
            <p class="r-urun-liste-yazisi">1.500 TL</p>
        </div>

         <div class="r-motive-urunler2">
            <img src="Resimler/canta2.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Fit-All Profesyonel Sporcu Fitness Çantası</p>
            <p class="r-urun-liste-yazisi">1.500 TL</p>
        </div>

         <div class="r-motive-urunler2">
            <img src="Resimler/canta3.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Akıllı İpli Pratik Antrenman Çantası</p>
            <p class="r-urun-liste-yazisi">1.500 TL</p>
        </div>

            </div>


       <div class="r-kart-kapsayici">  

        <div class="r-motive-urunler">
            <img src="Resimler/suluk1.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Berry Blast Çelik Matara</p>
            <p class="r-urun-liste-yazisi">1.000 TL</p>
        </div>

         <div class="r-motive-urunler">
            <img src="Resimler/suluk2.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Sea Sprint Sporcu Suluğu</p>
            <p class="r-urun-liste-yazisi">1.000 TL</p>
        </div>

         <div class="r-motive-urunler">
            <img src="Resimler/suluk3.png" alt="resim yok" class="r-urun-img">
            <p class="r-urun-liste-yazisi">MotivFit Cobalt Pulse Profesyonel Shaker Suluğu</p>
            <p class="r-urun-liste-yazisi">1.000 TL</p>
        </div></div>

        <div class="r-kucuk-yazi">"© 2026 MotivFit Spor Salonu. Tüm Hakları Saklıdır.</div>
    

    </div>
</body>
</html>